@charset "utf-8";

body {
    background: #80d6d6;
}

h1{
    text-align: center;
    color: rgb(240, 137, 89);
}

.wrapper {
    display: grid;
    padding: px;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 10px;
    border: px solid black;
    width: 65%; 
    height: 470px;
    margin: auto;
}

.item-1 {
    border: 1px solid black;
    background-color: #E2BCFF;
    box-shadow: 6px 6px 6px;
}

.item-2 {
    border: 1px solid black;
    background-color: #CDE8A3 ;
    box-shadow: 6px 6px 6px;
}

.item-3 { 
    border: 1px solid black;
    background-color: #E8B1A3;
    box-shadow: 6px 6px 6px;
}
.item-4 {
    border: 1px solid black;
    background-color: #80808059;
    box-shadow: 6px 6px 6px;
}


a {
    text-align: center;
    padding:0;
    margin: 0;
    position: relative;
    top: 40%;
    left: 37%;
    text-decoration-line: none;
    font-size: 30px;
}