
 ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    cursor: pointer;
    position: relative;
    list-style-type: none;
    font-size: 18px; 
    margin-right: 84%;
  }
  
  .close {
    position: absolute;
    right: 0;
  }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  input {
    margin: 0;
    border: solid 1px black;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  .addBtn {
    padding: 10px;
    background: #d9d9d9;
    float: left;
    cursor: pointer;
  }
