/* body {
    background: red;
} */


.some-class {
    color: orange;
    letter-spacing: 2px;
    transform: rotate(180deg);
    font-style: italic;
}

.another-class {
    color: purple;
    font-size: 20px;
    transform: skew(20deg);
    font-style: italic;

}